In [1]:
# Import the libraries

import numpy as np 
import matplotlib.pyplot as plt

In [2]:
# Create a list

a = [[11, 12, 13], [21, 22, 23], [31, 32, 33]]
a

[[11, 12, 13], [21, 22, 23], [31, 32, 33]]

In [14]:
#converting the list a to a numPy array
A = np.array([[11, 12, 13], [21, 22, 23], [31, 32, 33]])
A

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [11]:
# you can also use
A = np.array(a)
A

array([[11, 12, 13],
       [21, 22, 23],
       [31, 32, 33]])

In [12]:
# Show the numpy array dimensions

A.ndim

2

In [15]:
# Show the numpy array shape

A.shape

(3, 3)

In [16]:
# Show the numpy array size

A.size

9

In [18]:
# Access the element on the second row and third column

A[1, 2]

23

In [19]:
# Access the element on the second row and third column

A[1][2]

23

In [20]:
# Access the element on the first row and first and second columns

A[0][0:2]

array([11, 12])

In [21]:
# Access the element on the first and second rows and third column

A[0:2, 2]

array([13, 23])

In [22]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]]) 
X

array([[1, 0],
       [0, 1]])

In [23]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

array([[2, 1],
       [1, 2]])

In [24]:
# Add X and Y

Z = X + Y
Z

array([[3, 1],
       [1, 3]])

In [27]:
# Add X and Y

Z = X + Y
Z

array([[3, 1],
       [1, 3]])

In [28]:
# Create a numpy array Y

Y = np.array([[2, 1], [1, 2]]) 
Y

array([[2, 1],
       [1, 2]])

In [29]:
# Create a numpy array X

X = np.array([[1, 0], [0, 1]]) 
X

array([[1, 0],
       [0, 1]])

In [30]:
# Multiply X with Y

Z = X * Y
Z

array([[2, 0],
       [0, 2]])

In [31]:
# Create a matrix A

A = np.array([[0, 1, 1], [1, 0, 1]])
A

array([[0, 1, 1],
       [1, 0, 1]])

In [32]:
# Create a matrix B

B = np.array([[1, 1], [1, 1], [-1, 1]])
B

array([[ 1,  1],
       [ 1,  1],
       [-1,  1]])

In [33]:
#We use the numPy function dot to multiply arrays together
# Calculate the dot product

Z = np.dot(A,B)
Z

array([[0, 2],
       [0, 2]])

In [34]:
# Calculate the sine of Z

np.sin(Z)

array([[0.        , 0.90929743],
       [0.        , 0.90929743]])

In [35]:
#We use the NumPy function T to calculate Transposed matrix
# Create a matrix C

C = np.array([[1,1],[2,2],[3,3]])
C

array([[1, 1],
       [2, 2],
       [3, 3]])

In [36]:
# Get the transposed of C

C.T

array([[1, 2, 3],
       [1, 2, 3]])

In [37]:
a = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [38]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [40]:
#OR
A = np.array(a)
A

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [41]:
A.size

12

In [45]:
#Access the element on the first row and first and second columns.
A[0,0:2]

array([1, 2])

In [44]:
#OR
A[0][0:2]

array([1, 2])

In [46]:
B = np.array([[0, 1], [1, 0], [1, 1], [-1, 0]])
B

array([[ 0,  1],
       [ 1,  0],
       [ 1,  1],
       [-1,  0]])

In [53]:
#Perform matrix multiplication with the numpy arrays A and B.
X = np.dot(A,B)
X

array([[ 1,  4],
       [ 5, 12],
       [ 9, 20]])